.movies-grid__list {
  width: 100%;
  padding: 80px 0 30px;
  grid-gap: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit,364px);
  justify-content: center;
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 768px) { 
  .movies-grid__list {
    padding: 70px 0 30px;
    column-gap: 30px;
    row-gap: 36px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 704px) { 
  .movies-grid__list {
    grid-template-columns: repeat(auto-fit, 339px);
  }
}

@media screen and (max-width: 420px) { 
  .movies-grid__list {
    padding: 40px 0 30px;
    row-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}