.header {
  justify-content: space-between;
}

.header__items {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}

.header__link_type_green-button {
  padding: 8px 20px;
  color: #000;
  background-color: var(--color-green, #3DDC84);
  border-radius: 3px;
}