.header {
  padding: 0 70px;
  width: 100%;
  height: 74px;
  display: flex;
  align-items: center;
}

.header__link {
  transition: opacity 0.2s linear;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color-default, #fff);
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) { 
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding: 0 14px;
  }
}